.custom-card {
  border-radius: 12px;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
.dashboard-wrapper {
  min-height: 100vh;
  background: linear-gradient(to right, #e0f2ff, #fce4ec);
  padding-top: 20px;
}


  .custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  }

.course-header {
  background-color: #6f42c1;
  height: 130px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.course-icon {
  font-size: 2.5rem;
  color: #fff;
}

.card-title {
  font-size: 1rem;
  margin: 10px 0 5px;
}

.card-text {
  font-size: 0.85rem;
}

button.btn-sm {
  padding: 4px 10px;
  font-size: 0.75rem;
  border-radius: 6px;
}
