/* Header */
.dashboard-header {
  background-color: #2f3640;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Title */
.dashboard-title {
  font-size: 24px;
  font-weight: bold;
}

/* Profile image */
.profile-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

/* Dropdown */
.dropdown-menu a {
  font-size: 14px;
}

  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }

.dropdown-divider {
  margin: 5px 0;
}
